     <div id="titulo">
        <div id="contenedortitulo">
          <div id="topepanel">
            <h2>Mantenimiento de Transacciones</h2>
          </div>
          <!--fin area tope panel-->
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Dashboard / </a></li>
              <li>Mantenimiento de Transacciones</li>
            </ul>
          </div>
        </div>
      </div>

    <div id="bodymantenimientos">
        <div id="cuerpomantenimientos"> 
          <!--Inicio Area mantenimientos-->

          <form name="transitionManteniment.formProductManteniment" novalidate role="form">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 campomantenimiento">
            <div class="divheader">
              <h2>Mantenimiento</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="mantenimiento"> <span class="label">Código Origen</span> 
                <span class="input2">
                        <input  type="text" 
                          name="codeOrigin" 
                          ng-model="transitionManteniment.viewModelTransition.codeOrigin" 
                          ng-class="{ 'hasError': (transitionManteniment.submitted || 
                                    transitionManteniment.formProductManteniment.codeOrigin.$touched) && 
                                    transitionManteniment.formProductManteniment.codeOrigin.$invalid}"
                          ng-maxlength="20"
                          ng-required="true" />
                          <span 
                            class="alerttext" 
                            ng-if="transitionManteniment.formProductManteniment.codeOrigin.$error.required &&  
                                  (transitionManteniment.submitted || transitionManteniment.formProductManteniment.codeOrigin.$touched)"
                            >Este campo es obligatorio
                        </span>
                </span>
                <span class="label">Código Transacción</span>
                 <span class="input2">
                         <input  type="text" 
                          name="transiCode" 
                          ng-model="transitionManteniment.viewModelTransition.transiCode" 
                          ng-class="{ 'hasError': (transitionManteniment.submitted || 
                                    transitionManteniment.formProductManteniment.transiCode.$touched) && 
                                    productManteniment.formProductManteniment.transiCode.$invalid}"
                          ng-maxlength="20"
                          ng-required="true" />
                          <span 
                            class="alerttext" 
                            ng-if="transitionManteniment.formProductManteniment.transiCode.$error.required &&  
                                  (transitionManteniment.submitted || transitionManteniment.formProductManteniment.transiCode.$touched)"
                            >Este campo es obligatorio
                </span> 
                
                 </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="mantenimiento"> <span class="label">Descripción</span> <span class="input">
              <input name="" type="text" />
                </span>  </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="mantenimiento"><span class="label">Tipo de Transacción</span> <span class="input2">
                <select name="">
                 <option>Consumo</option>
                 <option>Reverso</option>
               </select>
                </span> 
                 <span class="label">Moneda</span> <span class="input2">
               <select name="" style="width:75px">
                 <option>RD$</option>
                 <option>US$</option>
               </select>
                </span> 
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="mantenimiento"><span class="label">Tipo de Producto</span> <span class="input2">
                <select name="">
                 <option>Tarjeta de Crédito</option>
                 <option>Línea de Crédito</option>
               </select>
                </span> 
                 <span class="label">Estatus</span> <span class="input2">
               <select name="" style="width:75px">
                 <option>Activo</option>
                 <option>Inactivo</option>
               </select>
                </span> 
                </div>
            </div>
            <div class="botonarearight"> <a href="#" class="boton btnlager btnblack">Filtrar</a></div>
          </div>
          </form>
<span class="separador">
          <hr />
          </span>
          <div class="campomantenimientofull">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="gridsub" colspan="10">Listados de Productos <a href="" class="boton2 btn btnblue">Nuevo</a></td>
              </tr>
              <tr class="grid_title">
              <td style="width:5%"></td>
              <td style="width:10%" class="tablecenter" >Código origen</td>
              <td style="width:10%" class="tablecenter">Código transacción </td>
              <td style="width:15%">Tipo de transacción </td>
              <td style="width:10%" class="tablecenter">Moneda </td>
              <td style="width:10%" class="tablecenter" >Tipo de producto </td>
              <td style="width:10%" class="tablecenter">Status </td>
              <td style="width:20%" class="ultimo"></td>
              </tr>
              <tr class="grid_text">
                <td class="tablecenter" >1</td>
                <td  class="tablecenter">1</td>
                <td class="tablecenter">Compras</td>
                <td>Consumo</td>
                <td class="tablecenter">RD$</td>
                <td class="tablecenter">Tarjeta de crédito</td>
                <td  class="tablecenter">Activo</td>
                <td><a href="#" class="boton">Editar</a> <a href="#"  class="boton">Cancelar</a></td>
              </tr>
              
            </table>
            
          </div>
          
          
          <!--Inicio Area footer-->
          <!--Fin Area mantenimientos--> 
        </div>
      </div>